@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	/* Custom colors - matching camelCase usage in components */
	--color-panel1: #f8f8f8;
	--color-panel2: #e9e9e9;
	--color-brand: #ffb68f;
	--color-brandLight: #ffe9dd;
	--color-brandLighter: #fff4ee;
	--color-grayWhite: #ffffff;
	--color-grayLight: #6e6e6e;
	--color-grayLighter: #a5a5a5;
	--color-grayLightest: #d7d7d7;
	--color-grayMid: #424242;
	--color-grayBlack: #000000;
	--color-uiPrimary: #18a0fb;
	--color-uiPrimaryDark: #1176bb;
	--color-uiPrimaryLight: #e6f5ff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", sans-serif;
}

.button-primary {
	@apply rounded-md bg-uiPrimary px-4 py-2  text-white hover:bg-uiPrimaryDark transition-colors h-12 cursor-pointer;
}
